/*Main structural elements*/
.container {
  margin: 0;
  padding: 0;
  width: 100%; }

#map {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: 100vh; }

#wrapper {
  padding-left: 80px;
  transition: all .4s ease 0s;
  height: 100%; }
  #wrapper.active {
    padding-left: 237px; }

#wrapper.active #sidebar-wrapper {
  left: 237px; }

#sidebar-wrapper {
  margin-left: -237px;
  left: 85px;
  width: 237px;
  background: #222;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
  overflow-y: auto;
  overflow-x: hidden; }

/*Sidebar elements*/
.sidebar-nav {
  display: block;
  float: left;
  width: 220px;
  list-style: none;
  margin: 0;
  padding: 0; }

#sidebar-menu li a, .sidebar-nav li a, .dropdown-menu li a {
  color: #999;
  display: block;
  float: left;
  text-decoration: none;
  width: 220px;
  background: #252525;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #1A1A1A;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s; }

.sidebar-nav li {
  line-height: 30px;
  text-indent: 10px; }
  .sidebar-nav li a {
    color: #FFF;
    display: block;
    text-decoration: none;
    height: 50px;
    padding-top: 12px; }
    .sidebar-nav li a img {
      float: right;
      margin-top: 4px;
      margin-right: 25px;
      max-height: 20px;
      max-width: 20px;
      filter: invert(100%); }
    .sidebar-nav li a:hover {
      color: #c7e9c0;
      text-decoration: none; }
      .sidebar-nav li a:hover img {
        filter: invert(80%); }
    .sidebar-nav li a:active, .sidebar-nav li a :focus {
      text-decoration: none; }

/* Style dropdown items */
.btn-success {
  text-align: left;
  font-weight: bold;
  width: 237px;
  height: 50px;
  border-radius: 0;
  background-color: rgba(57, 132, 57, 0.5);
  border-top: 1px solid #373737;
  border-bottom: 1px solid #1A1A1A;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s; }

div.panel.panel-default {
  background-color: #252525;
  margin-bottom: 0;
  border-radius: 0;
  border-width: 0; }
  div.panel.panel-default .panel-body {
    padding: 0; }

span.caret {
  float: right;
  margin-top: 8px;
  margin-right: 38px; }

/* toggle icon and toggle items */
#main-icon1, #main-icon2 {
  float: right;
  margin-top: 5px;
  font-size: 20px; }

#main-icon1 {
  margin-right: 5px; }

#menu-toggle:hover {
  color: #fff;
  text-decoration: none; }
  #menu-toggle:hover img {
    filter: invert(100%); }

.sidebar-nav > .sidebar-brand {
  height: 40px;
  line-height: 30px;
  font-size: 1.5em; }
  .sidebar-nav > .sidebar-brand a {
    color: #999999; }
    .sidebar-nav > .sidebar-brand a:hover {
      color: #fff; }

/*Media dimensions adjustments*/
@media (max-width: 767px) {
  #wrapper {
    padding-left: 80px;
    transition: all .4s ease 0s; }
  #wrapper.active #sidebar-wrapper {
    left: 237px;
    width: 237px;
    transition: all .4s ease 0s; } }

/*Legend elements*/
.legend {
  line-height: 18px;
  color: #FFF;
  background-color: #222;
  padding: 1vw;
  border-radius: 1vw;
  -webkit-box-shadow: 0 0 5px 0 #A9A9A9;
  box-shadow: 0 0 5px 0 #A9A9A9;
  display: none; }
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 1vw; }
